<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ ulr_for('static', filename='style.css'
<div class=page>
  <h1>Flaskr</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>


{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <d1>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <form><textarea name=text rows=5 cols=40></textarea>
        <d1><input type=submit value=Share>
      </d1>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entries in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</emp>
  {% endfor %}
  </ul>
{% endblock %}


{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{url_for('login') }}" method=post>
    <d1>
      <dt>Username:
      <dd><imput type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </d1>
  </form>
{% endblock %}




